<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ourglass.bucanero">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Needed for WiFi Scanning!? -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- permission required to use Alarm Manager used for restart on uncaught exception! -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <!-- Application is subclassed for a default Realm -->
    <application
        android:name=".core.ABApplication"
        android:allowBackup="true"
        android:icon="@mipmap/og_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:supportsRtl="true">

    <!--<application-->
        <!--android:name=".core.ABApplication"-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/og_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:launchMode="singleTask"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">-->
        <!--<uses-library android:name="com.realtek" />-->

        <activity android:name=".tv.Activities.MainFrameActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <service
            android:name=".services.LogCat.LogCatRotationService"
            android:exported="false" />
        <service
            android:name=".services.SSDP.SSDPService"
            android:exported="false" />
        <service
            android:name=".services.Connectivity.ConnectivityService"
            android:exported="false" />
        <service
            android:name=".services.STB.STBPollingService"
            android:exported="false" />
        <service
            android:name=".services.OGLog.OGLogService"
            android:exported="false" />

        <activity
            android:name=".tv.Activities.PermissionGateActivity">
            <intent-filter>
                <!-- Starting activity for this application -->
                <action android:name="android.intent.action.MAIN"/>
                <!-- Means that this app should appear on the launcher (app menu for OS)-->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- means that this is the default activity for an implicit intent...prolly not needed -->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--&lt;!&ndash; The following intent-filter says this is a candidate for home screen &ndash;&gt;-->
                <!--<category android:name="android.intent.category.HOME" />-->
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>


</manifest>